body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
/* Images */
img {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image horizontally */
}
/* Headers */
h1, h2, h3, h4, h5, h6{
    color: brown;
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
/* Main page */
.main-content{
    margin-left: 220px;
    padding: 20px;
    top: 15px;
}
/* Sidebar */
.sidebar {
    background-color:rgb(77, 13, 13);
    width: 200px;
    height: 100%;
    left: 0;
    padding: 15px;
    position: fixed;
    top:0px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    z-index: 1;
}
.sidebar a{
    font-size: large;
    font-weight:600;
    font-family: 'Courier New', Courier, monospace;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    margin: 15px 0;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
}
.sidebar ul li a:hover{
    text-decoration: underline;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    padding:30px;
    align-items: center;
    background-color: brown;
    top: 0px;
    margin-left: 220px;
    position:fixed;
    width: 80%;
    z-index: 1;
}
.navbar a{
    color:white;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration:underline;
    font-weight: bold;
}

.box-model{
    padding: 15px;
    background-color: brown;
    border: 5px solid red;
    margin: 30px;
    margin-left: 400px;
    margin-right: 400px;
}
.sightings ol{
    text-align: center;
    list-style:upper-roman;
    list-style-position: inside;
    

}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}
